# Database Configuration
DATABASE_URL=mysql+pymysql://user:password@userservice-db/users_db

# RabbitMQ Configuration
RABBITMQ_HOST=medtech-rabbitmq

# Security Configuration
JWT_SECRET_KEY="HTELXPM5abn2unNMin7J!7^*&rmEKDUL188gH8NDbeaLrvHk!$@*&"

# JWT Expiration in hours
JWT_ACCESS_TOKEN_EXPIRES_HOURS=12
